<div class="main-content">
  <div class="container-fluid">


    <div class="table-responsive">
      <table class="table table-shopping">
        <thead>
        <tr>
          <th class="text-center">Image </th>
          <th>Product</th>
          <th class="th-description">Brand </th>
          <th class="th-description">Price</th>

          <th  class="th-description">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>
            <div class="img-container">
              <img src="{{product.image}}" alt="...">
            </div>
          </td>
          <td >
            <h5>{{product.name}}</h5>

          </td>
          <td>{{product.brand}}</td>

          <td ><small>&euro;</small> {{product.price}}</td>
<!--          <td class="td-number">-->
<!--         -->
<!--          </td>-->
          <td class="td-actions"> <div class="btn-group">
            <button class="btn btn-round btn-info btn-xs" rel="tooltip" data-placement="left" title="Edit Product"> <i class="material-icons">create</i> </button>
            <button class="btn btn-round btn-info btn-xs"  data-placement="left" title="View Product"> <i class="material-icons">remove_red_eye
            </i> </button>

          </div>
            <button mat-raised-button  rel="tooltip" data-placement="left" title="Remove Product" class="btn btn-primary btn-round">
              <i class="material-icons">close</i>
            </button>
          </td>
        </tr>
        <tr>



        </tr>
        <tr>
        </tr>
        </tbody>
      </table>
    </div>

  </div></div>
