<div class="main-content">
    <div class="container-fluid">
     
        <div class="row">
                <div class="col-md-3">
                        <div class="card">
                            <div class="card-header card-header-icon card-header-primary">
                              <div class="card-icon">
                                  <i class="material-icons">edit</i>
                              </div>
                              <h4 class="card-title">Devotion</h4>
                            </div>
                            <div *ngIf = "adding; else editing" class="card-body add-form">
                                <h4>Add New Devotion</h4>
                              <form [formGroup] = "myForm" (ngSubmit)="submitHandler()">
                                  <mat-form-field >
                                      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date" (click)="picker.open()">
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
        
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" formControlName="title" placeholder="Title">
                                    </mat-form-field>
        
                                    <mat-form-field class="example-full-width">
                                          <input matInput type="text" formControlName="author" placeholder="Author">
                                    </mat-form-field>
                                     
                                    <mat-form-field class="example-full-width">
                                            <textarea matInput placeholder="Scripture" formControlName="scripture"></textarea>
                                    </mat-form-field> 
        
                                    <mat-form-field class="example-full-width">
                                            <textarea matInput placeholder="Message" formControlName="message" rows="8"></textarea>
                                    </mat-form-field> 
                                 
                                     <button type="submit" [disabled]="myForm.invalid" mat-raised-button class="btn btn-primary pull-right">Save</button>
                              </form>
                            </div>
                              <ng-template #editing>
                                    <div  class="card-body edit-form">
                                            <form [formGroup] = "myEditForm">
                                                <mat-form-field >
                                                    <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date" (click)="picker.open()">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                  </mat-form-field>
                      
                                                  <mat-form-field class="example-full-width">
                                                      <input matInput type="text" formControlName="title" placeholder="Title">
                                                  </mat-form-field>
                      
                                                  <mat-form-field class="example-full-width">
                                                        <input matInput type="text" formControlName="author" placeholder="Author">
                                                  </mat-form-field>
                                                   
                                                  <mat-form-field class="example-full-width">
                                                          <textarea matInput placeholder="Scripture" formControlName="scripture"></textarea>
                                                  </mat-form-field> 
                      
                                                  <mat-form-field class="example-full-width">
                                                          <textarea matInput placeholder="Message" rows="8" formControlName="message"></textarea>
                                                  </mat-form-field> 
        
                                                  <button (click)="onCancelEdit()" mat-raised-button class="btn btn-primary pull-right">Cancel</button>
                                               
                                                   <button (click)="updateHandler()" mat-raised-button class="btn btn-primary pull-right">Update</button>
                                           </form>
                                        </div>
        
                              </ng-template>
                             
                       
                    </div>
                  
                </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header card-header-primary card-header">

                        <h4 class="card-title">Devotions</h4>
                        <p class="card-category">Devotions list</p>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-hover">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="">{{ tableData1.headerRow[0] }}</th>
                                    <th>{{ tableData1.headerRow[1] }}</th>
                                    <th>{{ tableData1.headerRow[2] }}</th>
                                    <th>{{ tableData1.headerRow[3] }}</th>
                                    <th>{{ tableData1.headerRow[4] }}</th>
                                    <th>{{ tableData1.headerRow[5] }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let devotion of devotions | async">
                                    <td class="">{{devotion.date.toDate()|date:'mediumDate'}} </td>
                                    <td>{{devotion.title}}</td>
                                    <td>{{devotion.author}}</td>


                                    <td class="td-actions text-right">

                                        <button mat-raised-button type="button" (click)="showEdit(devotion)" class="btn btn-success btn-link">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button mat-raised-button type="button" (click)="onDelete(devotion.id)" class="btn btn-danger btn-link">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

           
    </div>
</div>
