<div class="main-content" style="background-color: #89609E">


    <div class="container-fluid" style=" padding: 3%">
        <div class="card">
        <table class="table-striped table-responsive">
            <tr>
            <th></th>
                <th>Title</th>

            </tr>
            <tr *ngFor="let card of cards">
                <td> {{card.title}}</td>


            </tr>
        </table>
        </div>

        <div  *ngIf="role!='admin'" style="text-align: -webkit-center;">
            <button type="button"  data-toggle="modal" data-target="#listModal"class="btn note-btn-primary" >Add List</button> </div>


        <div class="row" style=" padding: 3%">

                  <div class="col-md-3 card" *ngFor=" let c of cards" style="background-color: #EBECF0; margin: 10px" >
                      <div class="card-header card-header-icon card-icon card-header-primary">

                          <h6 class="card-title">{{c.title}}</h6>

                      </div>



                          <div class="card " *ngFor="let l of c?.list | keyvalue" >
                              <span *ngIf="l.value.status == 'done'" class="card-label card-label-green mod-card-front" title=""><span class="label-text">&nbsp;</span></span>
                              <span *ngIf="l.value.status == 'notdone'" class="card-label card-label-red mod-card-front" title=""><span class="label-text">&nbsp;</span></span>
                              <span *ngIf="l.value.status == 'working'" class="card-label card-label-orange mod-card-front" title=""><span class="label-text">&nbsp;</span></span>

                              <div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title" id="dateModalLabel">Change Due Date</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                          </div>
                                          <div class="modal-body">
                                              <div class="card-body">


                                                  <div class="form-group">
                                                      <mat-form-field >
                                                          <input matInput [matDatepicker]="picker" [(ngModel)]="date" placeholder="Date Date" (click)="picker.open()">
                                                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                          <mat-datepicker #picker></mat-datepicker>
                                                      </mat-form-field>
                                                  </div>


                                              </div>

                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveDate(l,c)">Save changes</button>
                                          </div>
                                      </div>
                                  </div>

                              </div>

                              <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title" id="editModalLabel">Edit List</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                          </div>
                                          <div class="modal-body">
                                              <div class="card-body">

                                                  <div class="form-group">
                                                      <input class="form-control form-control-lg" [(ngModel)]="title" type="text" placeholder="Title" autocomplete="on">
                                                  </div>


                                              </div>

                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                              <button type="button" class="btn btn-primary"  (click)="update(l,c)">Update</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="card-header card-header-icon card-icon card-header-primary">

                                  <p class="card-title">{{l.value.title}}</p>

                              </div>
                              <div style="color:red; -webkit-align-self: center">
                                  <p>{{l.value.duedate.toDate()| date: 'dd/MM/yyyy'}}</p>

                              </div>


                                  <div  *ngIf="role!='admin'" class="td-actions text-right">
                                      <div class="dropdown show">
                                  <button mat-raised-button type="button" data-toggle="dropdown"  class="btn btn-primary btn-link btn-sm">
                                      <i class="material-icons">more_vert</i>
                                  </button>


                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                              <a class="dropdown-item" (click)="edit(l,c)" data-toggle="modal" data-target="#editModal">Edit</a>
                                              <a class="dropdown-item" (click)="delete(l,c)" >Delete</a>
                                              <a class="dropdown-item" (click)="done(l,c)" >Done</a>
                                              <a class="dropdown-item" (click)="progress(l,c)" >In Progress</a>
                                              <a class="dropdown-item" (click)="notdone(l,c)" >Not Done</a>
                                              <a class="dropdown-item" data-toggle="modal" data-target="#dateModal" (click)="due(l,c)" >Change Due Date</a>
<!--                                              <a class="dropdown-item" (click)="comment(l)" >Comment</a>-->


                                          </div>
                                      </div>


                              </div>

                          </div>


                      <div   *ngIf="role!='admin'" class="stats" style="    align-self: center;" (click)="assg(c)"  data-toggle="modal" data-target="#exampleModal">
                       <div *ngIf="cards.length > 0">
                          <i class="material-icons " >note_add</i>
                          <a >Add another card</a>
                          </div>

                      </div>

                  </div>


              </div>


        </div>
      </div>
    

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add card</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">

                    <div class="form-group">
                        <input class="form-control form-control-lg" [(ngModel)]="title" type="text" placeholder="Title" autocomplete="on">
                    </div>

                    <div class="form-group">
                        <mat-form-field >
                            <input matInput [matDatepicker]="picker" [(ngModel)]="date" placeholder="Due Date" (click)="picker.open()">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveCard()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="listModalLabel">Add list</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">

                    <div class="form-group">
                        <input class="form-control form-control-lg" [(ngModel)]="title" type="text" placeholder="Title" autocomplete="on">
                    </div>



                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="save()">Save changes</button>
            </div>
        </div>
    </div>

</div>

